<nav class="pagination actions" role="navigation">
  <div class="pag-wrap">
  {{#if prev}}
    <a class="page-newer" href="{{page_url prev}}">&larrtl; Newer Posts</a>
  {{/if}}
  {{#if next}}
    <a class="page-older" href="{{page_url next}}">Older Posts &rarrtl;</a>
  {{/if}}
  </div>
</nav>
