<div class="colophon-wrap">
  <section class="colophon">
    <a href="#">
      <h3 class="footer-logo"> </h3>
    </a>
    <div class="footer-links">
      <p>Congradulations you have done it, you have reached the footer of this site! There are a few things here you might want to checkout.
      Here is a little bit of info <a href="/about">about</a> the author of this site <a href="/about">Anthony Kirwan</a>.</p>
      <p>If you want to reach out you can find me on the following: <a href="https://github.com/amkirwan">Github</a>, <a href="https://www.facebook.com/amkirwan">Facebook</a>, <a href="https://twitter.com/akirwan">Twitter (@akirwan)</a></p>
      </p>
    </div>
  </section>
</div>
