{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
<header class="main-header"> 
  {{> header}}
</header>

{{#post}}
  <main id="content" class="content" role="main">
    <div class="post-wrap post">
      {{> post}}
      <nav class="pagination" role="navigation">
        <div class="pag-wrap">
          {{#prev_post}}
          
          <a href="{{url}}" class="page-older">Previous Post:<span class="title">{{title}}</span></a>
          {{/prev_post}}

          {{#next_post}}
            <a href="{{url}}" class="page-newer">Next Post:<span class="title">{{title}}</span></a>
          {{/next_post}}
        </div>
      </nav>
    </div>
  </main>
{{/post}}

<footer class="site-footer" role="contentinfo">
  {{> site-footer}}
</footer>
